* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(97, 232, 22, 1) 0,
    rgba(255, 255, 255, 1) 50%,
    rgba(242, 159, 4, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Comfortaa;
  max-width: 100%;
  overflow-x: hidden !important;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}
.nav-header {
  font-size: 24px;
  margin: 1rem;
  font-weight: 900;
}
.nav-header-image {
  vertical-align: middle;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 1rem;
}
.nav-item {
  padding: 0 3rem;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}
.nav-item a:hover {
  color: #1c077a;
}
.nav-item a.active {
  color: #1c077a;
}
.nav-item a.active:hover {
  color: #fff;
}
.page {
  display: flex;
  width: 90%;
  margin: auto;
  color: #1c077a;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-content-header {
  font-size: 44px;
  margin-right: 1rem;
  margin: 2rem 0;
}
.about-content-header {
  font-size: 44px;
  margin-right: 1rem;
  margin: 2rem 0;
}
.main-content-lead {
  font-size: 24px;
  margin: 1rem;
  font-weight: 700;
}
.about-content-lead {
  font-size: 26px;
  margin: 1rem;
  font-weight: 700;
}
.details {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.download button {
  padding: 1rem 2rem;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: rgba(228, 145, 18, 1);
  flex-wrap: nowrap;
  margin: 0 2rem 0 0;
}
.download button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.main-content-img {
  margin-top: 4rem;
}
.main-content-img img {
  width: 80%;
  opacity: 0.6;
}
.about-flip-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flip-box {
  background-color: transparent;
  width: 60vw;
  height: 60vh;
  margin-bottom: 3rem;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  perspective: 2000px;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-back,
.flip-box-front {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #1c077a;
  border-radius: 10px;
  color: #fff;
}
.flip-box-back {
  background-color: #fff;
  border-radius: 10px;
  color: #1c077a;
  transform: rotateY(180deg);
}
.flip-box-top {
  background-color: transparent;
  width: 60vw;
  height: 55vh;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  perspective: 2000px;
}
.flip-box-top-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-box-top:hover .flip-box-top-inner {
  transform: rotateX(180deg);
}
.flip-box-top-back,
.flip-box-top-front {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-top-front {
  background-color: #fff;
  border-radius: 10px;
  color: #1c077a;
}
.flip-box-top-back {
  background-color: #1c077a;
  border-radius: 10px;
  color: #fff;
  transform: rotateX(180deg);
}
.about-content-lead li {
  margin: 1rem 0 1rem 2rem;
}
.about-content-lead p {
  margin-bottom: 1rem;
}
.about-us {
  margin: 3rem 0;
}
.about-us > h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #1c077a;
}
.about-us > p {
  font-size: 18px;
  color: #383838;
  font-weight: 600;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: relative;
  background-color: #f0f0f0;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 1rem;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-body,
.modal-footer,
.modal-header {
  padding: 1rem 2rem;
  color: #000;
  border-bottom: rgba(0, 0, 0, 0.8);
}
.modal-header h2 {
  margin-top: 1rem;
}
.modal-body form {
  display: flex;
  flex-direction: column;
}
.modal-body form label {
  font-size: 18px;
  padding: 1rem;
}
.modal-body form input {
  font-size: 16px;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  border: 2px solid #888;
}
.modal-footer button {
  margin: 0 0 1rem 1rem;
}
.close-helper-modal,
.close-worker-modal {
  float: right;
  font-size: 28px;
  font-weight: 700;
}
.close-helper-modal,
.close-worker-modal:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
  .main-content-img {
    margin-top: 1rem;
  }
  .main-content-img img {
    width: 100%;
    transform: scale(0.7);
  }
  .modal-content {
    transform: scale(0.8);
    width: 80%;
  }
  .about-content-lead {
    font-size: 22px;
    margin: 0.5rem;
  }
  .flip-box {
    width: 85vw;
    height: 38vh;
  }
  .flip-box-top {
    width: 85vw;
    height: 38vh;
  }
}
@media (max-width: 823px) {
  .about-content-lead {
    font-size: 14px;
    margin: 0.3rem;
  }
  .flip-box {
    width: 85vw;
    height: 50vh;
  }
  .flip-box-top {
    width: 85vw;
    height: 50vh;
  }
  .download button {
    margin: 2rem 1rem;
  }
}
@media (max-width: 768px) {
  .nav-header-image {
    display: none;
  }
  .main-content-header {
    text-align: center;
  }
  .about-content-header {
    text-align: center;
  }
  .main-content-lead {
    text-align: center;
  }
  .about-content-lead {
    font-size: 12px;
    margin: 0.3rem;
  }
  .flip-box {
    width: 85vw;
    height: 55vh;
  }
  .flip-box-top {
    width: 85vw;
    height: 55vh;
  }
  .download button {
    margin: 2rem 1rem;
  }
}
@media (max-width: 568px) {
  nav {
    transform: scale(0.8);
  }
  .about-content-lead {
    font-size: 12px;
    margin: 0.3rem;
  }
  .flip-box {
    width: 85vw;
    height: 67vh;
  }
  .flip-box-top {
    width: 85vw;
    height: 65vh;
  }
  .download button {
    margin: 2rem 1rem;
  }
}
@media (max-width: 468px) {
  nav {
    transform: scale(0.79);
    flex-direction: column;
  }
  .nav-header {
    font-size: 36px;
  }
  .nav-body {
    transform: scale(0.8);
    margin: 0 0.5rem;
  }
  .nav-header-image {
    display: inline;
  }
  .page {
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .main-content {
    margin-top: 2rem;
  }
  .main-content-header {
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 28px;
  }
  .about-content-header {
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 28px;
  }
  .main-content-lead {
    margin: 0 1rem;
    text-align: center;
    font-size: 18px;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .download button {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0;
    margin-bottom: 2rem;
    font-size: 17px;
  }
  .download button:hover {
    transform: scale(1.05);
  }
  .main-content-img img {
    display: none;
  }
  .modal-content {
    width: 100%;
    margin: auto;
  }
  .modal-body,
  .modal-footer,
  .modal-header {
    padding: 0.5rem 1rem;
    width: 100%;
  }
  .modal-footer {
    display: flex;
    justify-content: center;
  }
  .modal-footer button {
    justify-self: center;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .about-content-lead {
    font-size: 12px;
    margin: 0.3rem;
  }
  .flip-box {
    width: 80vw;
    height: 33vh;
  }
  .flip-box-top {
    width: 80vw;
    height: 32vh;
  }
  .about-us > h2 {
    font-size: 24px;
    text-align: center;
  }
  .about-us > p {
    font-size: 14px;
    text-align: justify;
  }
}
@media (max-width: 375px) {
  .about-content-lead {
    font-size: 12px;
    margin: 0.3rem;
  }
  .flip-box {
    width: 85vw;
    height: 40vh;
  }
  .flip-box-top {
    width: 85vw;
    height: 38vh;
  }
}
@media (max-width: 320px) {
  .about-content-lead {
    font-size: 12px;
    margin: 0.3rem;
  }
  .flip-box {
    width: 85vw;
    height: 48vh;
  }
  .flip-box-top {
    width: 85vw;
    height: 47vh;
  }
}
